* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", monospace;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  background-color: white;
  font-size: 1.4rem;
}

section {
  padding: 60px 25px;
}

h2 {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  text-align: center;
}

.underline {
  margin-top: 5px;
  height: 2px;
  width: 30px;
  background-color: rgb(205, 162, 123);
}

.underline-second {
  margin: 0 auto 2em;
  width: 60px;
  height: 4px;
  background-color: rgb(23, 23, 23);
}

.container {
  display: flex;
  max-width: 2000px;
  margin: 0 auto;
}

.button {
  padding: 5px 9px;
  background: none;
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid rgba(255, 255, 255, 0.671);
  color: rgba(255, 255, 255, 0.671);
}

/* ---------------- NAV SECTION -------------- */
nav {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 10px 40px;
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.219);
  z-index: 1;
}
nav .logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
nav .links {
  flex-grow: 1;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  display: none;
}
nav .links li a {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  color: rgb(23, 23, 23);
}
nav .links li a:hover {
  color: rgba(255, 255, 255, 0.671);
}
nav .burger-btn-box {
  display: flex;
  justify-content: flex-end;
}
nav .burger-btn-box .button {
  border: none;
}
nav .burger-btn-box .button .icon {
  font-size: 28px;
}

/* ---------------- HERO SECTION -------------- */
.hero-img {
  margin-top: 100px;
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(7, 3, 0, 0.603), rgba(52, 40, 40, 0.664)), url("./img/bg.jpeg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
}
.hero-img .hero-text {
  margin-top: 28px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-img .hero-text h2 {
  letter-spacing: 4px;
  font-size: 23px;
}
.hero-img .hero-text p {
  margin: 15px 0;
}
.hero-img .hero-text .button {
  padding: 8px 14px;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.151);
}

/* ---------------- ABOUT SECTION -------------- */
.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px;
}
.about .about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  flex-direction: column;
}
.about .about-container .about-img {
  max-width: 100%;
}
.about .about-container .about-img img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about-container .about-text {
  padding: 0 0 20px 0;
  flex: 1;
}
.about .about-container .about-text h3 {
  font-weight: normal;
  text-transform: uppercase;
}
.about .about-container .about-text h2 {
  text-align: left;
  margin-top: 18px;
  font-size: 24px;
}
.about .about-container .about-text p {
  margin-top: 20px;
}

.achievementSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(23, 23, 23), rgb(42, 40, 40));
  color: white;
}
.achievementSection .achievements-box {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
}
.achievementSection .achievements-box .achievement {
  margin-top: 25px;
}
.achievementSection .achievements-box .achievement .achievement-number {
  font-family: "Cormorant Garamond", serif;
  font-size: 55px;
  font-weight: bold;
  color: rgb(205, 162, 123);
}
.achievementSection .achievements-box .achievement .achievement-text {
  font-size: 14px;
  margin-top: 18px;
}

.benefit-section {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
}
.benefit-section h2 {
  margin-bottom: 2em;
  font-size: 2.5rem;
  color: rgb(23, 23, 23);
  text-align: center;
}
.benefit-section .benefit-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 3em;
}
.benefit-section .benefit-container .benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 0.3em;
}
.benefit-section .benefit-container .benefit .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  border-radius: 50%;
}
.benefit-section .benefit-container .benefit .icon svg {
  text-align: center;
  font-size: 3rem;
  color: rgb(205, 162, 123);
}
.benefit-section .benefit-container .benefit .benefit-info h3 {
  padding: 1em 0;
  color: rgb(23, 23, 23);
}
.benefit-section .benefit-container .benefit .benefit-info p {
  max-width: 400px;
  color: #464545;
  font-size: 1.2rem;
}

section.offers {
  position: relative;
  overflow: hidden;
  background: linear-gradient(45deg, whitesmoke, floralwhite);
}
section.offers .section-heading {
  color: white;
}
section.offers .wrapper {
  padding: 20px 20px;
  max-width: 1000px;
  margin: 0 auto;
}
section.offers .underline {
  background-color: white;
}
section.offers .left {
  flex-direction: row;
}
section.offers .right {
  flex-direction: row-reverse;
}
section.offers .offers__option {
  display: flex;
  margin: 10px 0;
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.19);
  background-color: white;
  overflow: hidden;
}
section.offers .offers__option-img {
  width: 40%;
  height: 100%;
}
section.offers .offers__option-info {
  padding: 20px;
  z-index: 0;
  background-color: white;
}
section.offers .offers__option-heading {
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 300;
}
section.offers .offers__option-text {
  margin-bottom: 5px;
  font-size: 13px;
  color: rgb(23, 23, 23);
}
section.offers .offers__option-btn {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  color: white;
  background-color: #191970;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
section.offers .offers__option-btn::before {
  background-color: rgb(205, 162, 123);
}
section.offers .offers__option-btn:hover {
  background-color: rgb(205, 162, 123);
}

.map {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: whitesmoke;
}
.map .container {
  width: 100%;
  height: 100%;
}
.map .container .map-container {
  height: 100%;
  width: 100%;
}

.contactSection {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 23);
  color: white;
}
.contactSection .contact-box .logo {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.contactSection .contact-box .social-media {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactSection .contact-box .social-media svg {
  padding: 0 10px;
  font-size: 36px;
  color: white;
}
.contactSection .contact-box .social-media svg:hover {
  color: rgba(255, 255, 255, 0.671);
}
.contactSection .contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactSection .contact-box h4 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}
.contactSection .contact-box .contact-element {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
}
.contactSection .contact-box .contact-element svg {
  padding: 5px;
  margin-right: 10px;
  font-size: 25px;
  color: rgb(205, 162, 123);
}
.contactSection .contact-box .contact-element a {
  padding: 5px;
  color: white;
  text-decoration: none;
}
.contactSection .contact-box .contact-element a:hover {
  color: white;
  color: rgba(255, 255, 255, 0.671);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 23, 23);
  color: white;
}
footer .underline {
  width: 85vw;
  color: rgba(205, 163, 123, 0.329);
}
footer p {
  padding: 12px 5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.671);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav .links {
    display: flex;
  }
  nav .burger-btn-box {
    display: none;
  }
  .hero-img {
    height: 40vh;
  }
  .hero-img .hero-text {
    margin-top: 30px;
  }
  .about {
    height: auto;
  }
  .about .about-container {
    max-width: 800px;
    flex-direction: row;
  }
  .about .about-container .about-img {
    width: 50%;
  }
  .about .about-container .about-img img {
    width: 100%;
    height: auto;
  }
  .about .about-container .about-text {
    margin-right: 15px;
  }
  .about .about-container .about-text h3 {
    font-weight: normal;
    text-transform: uppercase;
  }
  .about .about-container .about-text h2 {
    margin-top: 18px;
    font-size: 24px;
  }
  .about .about-container .about-text p {
    margin-top: 20px;
  }
  .achievementSection .achievements-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .achievementSection .achievements-box .achievement .achievement-number {
    font-size: 70px;
  }
  .achievementSection .achievements-box .achievement .achievement-text {
    font-size: 16px;
  }
  .benefit-section .benefit-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactSection {
    width: 100%;
    max-width: 800px;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .contactSection .contact-box .logo {
    display: flex;
    flex-direction: column;
  }
  .contactSection .contact-box .logo img {
    width: 110px;
    height: 110px;
  }
  .contactSection .contact-box .logo h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 15px;
  }
  .contactSection .contact-box .social-media {
    margin-top: 20px;
  }
  .contactSection .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactSection .contact-box h4 {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
  .contactSection .contact-box .contact-element {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
  }
  .contactSection .contact-box .contact-element svg {
    padding: 5px;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(205, 162, 123);
  }
  .contactSection .contact-box .contact-element a {
    padding: 5px;
    color: white;
    text-decoration: none;
  }
  .contactSection .contact-box .contact-element a:hover {
    color: white;
    color: rgba(255, 255, 255, 0.671);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .benefit-section .benefit-container {
    grid-template-columns: repeat(3, 1fr);
  }
}