$font-light: white;
$font-light-hover: rgba(255, 255, 255, 0.671);
$background-dark: rgb(23, 23, 23);
$icon: rgb(189, 158, 119);

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', monospace;
}

html {
	font-size: 10px;
}
body {
	width: 100vw;
}

section {
	padding: 50px 25px;
}

h2 {
	font-size: 24px;
}

.underline {
	margin-top: 5px;
	height: 2px;
	width: 30px;
	background-color: $icon;
}

.container {
	display: flex;
	max-width: 2000px;
	margin: 0 auto;
}
.button {
	padding: 5px 9px;
	background: none;
	border: 1px solid $font-light;
	border-radius: 8px;
	color: $font-light;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
}
.button:hover {
	border: 1px solid $font-light-hover;
	color: $font-light-hover;
}

/* ---------------- NAV SECTION -------------- */

nav {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
	align-items: center;
	top: 0;
	left: 0;
	padding: 50px 40px;
	width: 100%;
	height: 60px;
	z-index: 1;

	.logo {
		width: 90px;
		height: 90px;
		cursor: pointer;
	}

	.links {
		flex-grow: 1;
		justify-content: center;
		list-style: none;
		text-transform: uppercase;
		font-size: 14px;
		display: none;

		li a {
			padding: 10px 20px;
			color: $font-light;
			text-decoration: none;
			transition: color 0.3s;
		}
		li a:hover {
			color: $font-light-hover;
		}
	}
	.burger-btn-box {
		display: flex;
		justify-content: flex-end;

		.button {
			border: none;

			.icon {
				font-size: 28px;
			}
		}
	}
}

/* ---------------- HERO SECTION -------------- */

.hero-img {
	position: relative;
	height: 100vh;
	background-image: linear-gradient(
			rgba(7, 3, 0, 0.603),
			rgba(52, 40, 40, 0.664)
		),
		url('./img/bg.jpeg');
	background-position: bottom;
	background-size: cover;

	.hero-text {
		margin-top: 28px;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;

		h2 {
			letter-spacing: 4px;
			font-size: 2.3rem;
		}
		p {
			margin: 15px 0;
			font-size: 15px;
		}
		.button {
			padding: 8px 14px;
			margin-top: 15px;
			background-color: rgba(255, 255, 255, 0.151);
		}
	}
}

/* ---------------- ABOUT SECTION -------------- */

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 40px;

	.about-container {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 800px;
		flex-direction: column;

		.about-img {
			max-width: 100%;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
			}
		}
		.about-text {
			padding: 20px 0;
			flex: 1;
			h3 {
				font-size: 14px;
				font-weight: normal;
				text-transform: uppercase;
			}

			h2 {
				margin-top: 18px;
				font-size: 24px;
			}
			p {
				font-size: 14px;
				margin-top: 20px;
			}
		}
	}
}

.achievementSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $background-dark;
	color: $font-light;
	.achievements-box {
		margin-top: 15px;
		text-align: center;
		display: grid;
		grid-template-columns: repeat(1, 1fr);

		.achievement {
			margin-top: 25px;
			.achievement-number {
				font-size: 33px;
				font-weight: bold;
				color: $icon;
			}
			.achievement-text {
				font-size: 14px;
			}
		}
	}
}

.benefitSection {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	padding: 38px;

	.benefits-box {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		// gap: 30px;
	}

	.benefit {
		padding: 18px 0;
		text-align: center;
		// max-width: 200px;

		.icon svg {
			font-size: 50px;
			color: $icon;
		}
		h3 {
			margin: 15px 0 10px 0;
			font-size: 17px;
		}

		p {
			font-size: 15px;
		}
	}
}

.contactSection {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	background-color: $background-dark;
	color: $font-light;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 25px;
		img {
			width: 40px;
			height: 40px;
		}

	}
}

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	nav {
		.links {
			display: flex;
		}
		.burger-btn-box {
			display: none;
		}
	}

	.hero-img {
		height: 40vh;

		.hero-text {
			margin-top: 30px;
		}
	}
}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
